/* CUSTOM STYLES */
/* ======================================== */
/* nav {
  font-family: 'Oxygen', sans-serif;
  width: 100%;
  background-color: #B0C0BF;
  padding: 10px 0;
}
nav a {
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
  color: #424C55;
  cursor: pointer;
}
nav a:hover {
  color: #86E8FB;
}
.navwrapper{
  position: relative;
}
.leftlogo{
  position: absolute;
  font-style: italic;
  left: 5%;
  display: inline-block;
}
.rightnav{
  position: absolute;
  left: 70%;
  display: inline-block;
}
*/

.footer {
  background-color: #424C55;
  text-align: center;
  width: 100%;
  height: 30px;
  position: fixed;
  bottom: 0;
}

.footer-text{
  font-family: 'Oxygen', sans-serif;
  color: white;
  font-size: 11px;
}

.navbar {
  background-color:transparent !important;
  border-color:transparent !important;
  background-image:none !important;
  box-shadow:none !important;  
  padding: 3px;
}

/* DEFAULT STYLES */
/* ======================================== */
.App {
  text-align: center;
}

.App-logo {
  margin: 0 auto;
  animation: App-logo-spin infinite 20s linear;
  height: 55px;
}

.App-title {
  font-size: 1.5em;
  color: black;
  font-style: italic;
}

.App-intro {
  font-size: large;
}

.logo-wrapper{
  position: absolute;
  top: 5px;
  left: 1%;
  margin: 0 auto;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.overall-style{
  padding: 0 20px;
  font-family: 'Oxygen', sans-serif;
}

.center-style{
  display: flex;
  justify-content: center;
  font-family: 'Oxygen', sans-serif;
  padding: 20px 0;
}

.center-style-title{
  display: flex;
  justify-content: center;
  font-family: 'Oxygen', sans-serif;
  padding: 20px 0;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #B0C0BF, 0 0 5px rgb(127, 139, 139);
}


.logout-button{
  background-color: transparent;
  border: transparent;
}

/* question box */
/* ======================================== */
/* .test {
  background-image: url(./images/home.jpg) 
  } */

/* .results-weather-bg{
  background-image: url(./images/rain.png)
} */


/* loading spinner */
/* ======================================== */
.loading {
  width: 100px;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


/* General Background */
/* ======================================== */
/* Full page responsive background image */
img.main-bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.main-bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }

  div.results-bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

/* movie related css */
.movie-result-title, .giphy-result-title, .food-result-title{
  padding: 20px 0;
  font-style: italic;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  font-family: 'Oxygen', sans-serif;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #B0C0BF, 0 0 5px rgb(127, 139, 139);
}

.filmPoster{
  display: flex;
  justify-content: center;
}

.filmPoster-Img{
  height: 250px;
}

.movie-result {
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Oxygen', sans-serif;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #B0C0BF, 0 0 5px rgb(127, 139, 139);
}
/* Full page background color */
div.results-movie-bg {
  /* css here */
}
.results {
  /* text-align: center; */
  margin: 2%;
}



/* Weather related css */
/* ======================================== */
.weather-result, .output-result {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-size: calc(10px + 2vmin);
  font-family: 'Oxygen', sans-serif;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #B0C0BF, 0 0 5px rgb(127, 139, 139);
}
span.a {
  display: inline-block;
}
/* weather icons */
div.results-weather-icon-partly-cloudy-day {
  max-width: 250px;
  max-height: 250px;
  content: url(./images/icons/partly-cloudy-day.png);
  /* margin: 0 5px 0; */
  /* img: url(./images/icons/rain.png); */
}
div.results-weather-icon-partly-cloudy-night {
  max-width: 250px;
  max-height: 250px;
  content: url(./images/icons/partly-cloudy-night.png);
  /* margin: 0 5px 0; */
  /* img: url(./images/icons/rain.png); */
}
div.results-weather-icon-clear-day {
  max-width: 250px;
  max-height: 250px;
  content: url(./images/icons/clear-day.png);
  /* margin: 0 5px 0; */
  /* img: url(./images/icons/rain.png); */
}
div.results-weather-icon-clear-night {
  max-width: 250px;
  max-height: 250px;
  content: url(./images/icons/clear-night.png);
  /* margin: 0 5px 0; */
  /* img: url(./images/icons/rain.png); */
}
div.results-weather-icon-fog {
  max-width: 250px;
  max-height: 250px;
  content: url(./images/icons/fog.png);
  /* margin: 0 5px 0; */
  /* img: url(./images/icons/rain.png); */
}
div.results-weather-icon-rain {
  max-width: 250px;
  max-height: 250px;
  content: url(./images/icons/rain.png);
  /* margin: 0 5px 0; */
  /* img: url(./images/icons/rain.png); */
}
div.results-weather-icon-snow {
  max-width: 250px;
  max-height: 250px;
  content: url(./images/icons/snow.png);
  /* margin: 0 5px 0; */
  /* img: url(./images/icons/rain.png); */
}
div.results-weather-icon-wind {
  max-width: 250px;
  max-height: 250px;
  content: url(./images/icons/wind.png);
  /* margin: 0 5px 0; */
  /* img: url(./images/icons/rain.png); */
}
div.results-weather-icon-cloudy {
  max-width: 250px;
  max-height: 250px;
  content: url(./images/icons/cloudy.png);
  /* margin: 0 5px 0; */
  /* img: url(./images/icons/rain.png); */
}
div.results-weather-icon-thermometer {
  max-width: 50px;
  max-height: 50px;
  content: url(./images/icons/thermometer.png);
  /* margin: 0 5px 0; */
  /* img: url(./images/icons/rain.png); */
}

/*Food related css*/
.foodImg{
  height: 250px;
  display: flex;
  justify-content: center;
}
.food-result {
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Oxygen', sans-serif;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #B0C0BF, 0 0 5px rgb(127, 139, 139);
}

div.results-weather-bg-rain {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(./images/rain.png);
  opacity: 0.3;
}

/* Full page background color */
div.results-movie-bg {
  /* css here */
}

div.results-weather-bg-cloudy {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(./images/cloudy.jpg);
  opacity: 0.5;
}

div.results-weather-bg-clear-night 
{
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(./images/clear-night.jpg);
  opacity: 0.3;
}

div.results-weather-bg-partly-cloudy-day {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(./images/partly-cloudy-day.jpg);
  opacity: 0.3;
}

div.results-weather-bg-partly-cloudy-night
{
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(./images/partly-cloudy-night.jpg);
  opacity: 0.3;
}

div.results-weather-bg-fog
{
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(./images/fog.jpeg);
  opacity: 0.3;
}

div.results-weather-bg-wind
{
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(./images/wind.jpeg);
  opacity: 0.3;
}

div.results-weather-bg-sleet
{
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(./images/sleet.jpg);
  opacity: 0.3;
}

div.results-weather-bg-snow
{
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(./images/snow.jpg);
  opacity: 0.3;
}

div.results-weather-bg-clear-day
{
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(./images/clear-day.jpeg);
  opacity: 0.3;
}

  /* Giphy CSS */
.giphyPic{
  height: 250px;
}
.giphy-result{
  display: flex;
  justify-content: center;
  padding: 20px 0;
}