/* Full page background color */
div.results-weather-bg-clear-night 
div.results-weather-bg-clear-night
div.results-weather-bg-clear-night
div.results-weather-bg-clear-night
div.results-weather-bg-clear-night
div.results-weather-bg-clear-night
div.results-weather-bg-clear-night
div.results-weather-bg-clear-night

{
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(./images/rain.png);
  opacity: 0.3;
}